/* Don't show icon, title and cover on API Documentation page. Only show Redoc */
.notion-block-84c442bffc1f4feba8612c386dff9a24 .notion-page-icon-wrapper {
  display: none;
}
.notion-block-84c442bffc1f4feba8612c386dff9a24 .notion-title {
  display: none;
}
.notion-block-84c442bffc1f4feba8612c386dff9a24 .notion-page-no-cover {
  margin-top: 0 !important;
  padding-top: 0;
}

/* Don't show Github & LinkedIn social button on API Documentation page */
.notion-block-84c442bffc1f4feba8612c386dff9a24 .notion-aside {
  display: none;
}
